<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style>
table{border:2px solid black}
</style>
</head>

<body>
<form id="form2" name="form2" method="post" action="/add_post" enctype="multipart/form-data">
<h2>ADD DANCE</h2>
<table width="200" border="0">

  <tr>
    <th height="38" scope="row"><div align="left">NAME</div></th>
    <td>
      <label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" />
    </td>
  </tr>
  <tr>
    <th height="36" scope="row"><div align="left">IMAGE</div></th>
    <td>
      <label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" />
    </td>
  </tr>
  <tr>
    <th height="99" scope="row">DESCRIPTION</th>
    <td>
      <label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea>
    </td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td>
      <div align="center">
        <input type="submit" name="button" id="button" value="SAVE" />
      </div>
    </td>
  </tr>
  
</table>
    </form>
</body>
</html>
