{% extends 'admin/index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/view_postuser">
  <table class="table table-hover">
<h1 align="center" style="font-family: 'Times New Roman'">VIEW USER</h1>

        <tr>
            <td style="font-family: 'Times New Roman'">User Name</td>
            <td><input type="text" name="textfield" class="form-control"></td>
            <td><input type="submit" name="submit" value="SEARCH" class="btn btn-primary" style="font-family: 'Times New Roman'"></td>
        </tr>

    </table>
<br>
  <table class="table table-hover">
    <tr>
      <th width="44" scope="col" style="font-family: 'Times New Roman'">Sno</th>

      <th width="77" scope="col" style="font-family: 'Times New Roman'">Uname</th>
        <th width="77" scope="col" style="font-family: 'Times New Roman'">Udob</th>
        <th width="77" scope="col" style="font-family: 'Times New Roman'">Uphone</th>
        <th width="77" scope="col" style="font-family: 'Times New Roman'">Uimage</th>
      <th width="65" scope="col" style="font-family: 'Times New Roman'">Email</th>


    </tr>
      {% for i in data %}
      <tr>
        <td>&nbsp;{{ loop.index }}</td>

          <td>&nbsp;{{ i['uname'] }}</td>
          <td>&nbsp;{{ i['udob'] }}</td>
          <td>&nbsp;{{ i['uphone'] }}</td>
          <td>&nbsp;<img src="{{ i['uimage'] }}"></td>
          <td>&nbsp;{{ i['uemail'] }}</td>


      </tr>
        {% endfor %}


  </table>
</form>
</body>
{% endblock %}