<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<form id="form1" name="form1" method="post" action="/view_postuser">
    <table border="0" align="center">
<h1 align="center">VIEW USER</h1>

        <tr>
            <td>User Name</td>
            <td><input type="text" name="textfield"></td>
            <td><input type="submit" name="submit" value="SEARCH"></td>
        </tr>

    </table>
<br>
  <table width="428" border="1" align="center">
    <tr>
      <th width="44" scope="col">Sno</th>
        <th width="77" scope="col">UserID</th>
        <th width="77" scope="col">UlogID</th>
      <th width="77" scope="col">Uname</th>
        <th width="77" scope="col">Udob</th>
        <th width="77" scope="col">Uphone</th>
        <th width="77" scope="col">Uimage</th>
      <th width="65" scope="col">Email</th>


    </tr>
      {% for i in data %}
      <tr>
        <td>&nbsp;{{ loop.index }}</td>
        <td>&nbsp;{{ i['userid'] }}</td>
        <td>&nbsp;{{ i['ulogid'] }}</td>
          <td>&nbsp;{{ i['uname'] }}</td>
          <td>&nbsp;{{ i['udob'] }}</td>
          <td>&nbsp;{{ i['uphone'] }}</td>
          <td>&nbsp;{{ i['uimage'] }}</td>
          <td>&nbsp;{{ i['uemail'] }}</td>


      </tr>
        {% endfor %}


  </table>
</form>
</body>
</html>
