<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<form id="form1" name="form1" method="post" action="/user_reg_post" enctype="multipart/form-data">
<h2 align="center">REGISTRATION FORM</h2>


  <table width="400" border="1" align="center">
    <tr>
      <th scope="row"><table width="615" border="0">
        <tr>
          <th height="267" scope="row"><table width="562" border="0">
            <tr>
              <th scope="row"><table width="562" height="253" border="0">
                <tr>
                  <th scope="row"><table width="562" border="0">
                    <tr></tr>
                    <tr>
                      <th scope="row"><table width="562" height="253" border="0">
                        <tr>
                          <th width="216" scope="row"><div align="left">Full Name</div></th>
                          <td width="330"><label for="textfield63"></label>
                            <label for="textfield68"></label>
                            <input type="text" name="textfield" id="textfield68" />
<label for="textfield64"></label></td>
                        </tr>
                        <tr>
                          <th scope="row"><div align="left">Dob</div></th>
                          <td><label for="textfield65"></label>
                            <label for="textfield69"></label>
                          <input type="text" name="textfield2" id="textfield69" /></td>
                        </tr>
                        <tr>
                          <th scope="row"><div align="left">Email Id</div></th>
                          <td><label for="textfield66"></label>
                            <label for="textfield70"></label>
                            <input type="text" name="textfield3" id="textfield70" /></td>
                        </tr>
                        <tr>
                          <th scope="row"><div align="left">Phone Number</div></th>
                          <td><label for="textfield67"></label>
                            <label for="textfield71"></label>
                        
                              <input type="text" name="textfield4" id="textfield71" />
                          </td>
                        </tr>
                          <tr>


                              <th scope="row"><div align="left">Password</div></th>
                          <td><label for="textfield68"></label>
                            <label for="textfield72"></label>

                              <input type="text" name="textfield68" id="textfield72" />
                          </td>




                          </tr>
                        <tr>
                          <th scope="row">Upload Image</th>
                          <td><label for="textfield67"></label>
                            <label for="fileField"></label>
                            
                              <input type="file" name="fileField2" id="fileField"/>
                            </td>
                        </tr>
                        <tr>
                          <td colspan="2" align="center"  >
<input type="submit" value="SAVE"/></td>
                        </tr>
                      </table></th>
           
 

</form></th>


</body>
</html>
