{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/user_reg_post" enctype="multipart/form-data">#}
{#<h2 align="center">REGISTRATION FORM</h2>#}
{##}
{##}
{#  <table width="400" border="1" align="center">#}
{#    <tr>#}
{#      <th scope="row"><table width="615" border="0">#}
{#        <tr>#}
{#          <th height="267" scope="row"><table width="562" border="0">#}
{#            <tr>#}
{#              <th scope="row"><table width="562" height="253" border="0">#}
{#                <tr>#}
{#                  <th scope="row"><table width="562" border="0">#}
{#                    <tr></tr>#}
{#                    <tr>#}
{#                      <th scope="row"><table width="562" height="253" border="0">#}
{#                        <tr>#}
{#                          <th width="216" scope="row"><div align="left">Full Name</div></th>#}
{#                          <td width="330"><label for="textfield63"></label>#}
{#                            <label for="textfield68"></label>#}
{#                            <input type="text" name="textfield" id="textfield68 "/>#}
{#<label for="textfield64"></label></td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                          <th scope="row"><div align="left">Dob</div></th>#}
{#                          <td><label for="textfield65"></label>#}
{#                            <label for="textfield69"></label>#}
{#                          <input type="text" name="textfield2" id="textfield69" /></td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                          <th scope="row"><div align="left">Email Id</div></th>#}
{#                          <td><label for="textfield66"></label>#}
{#                            <label for="textfield70"></label>#}
{#                            <input type="text" name="textfield3" id="textfield70" /></td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                          <th scope="row"><div align="left">Phone Number</div></th>#}
{#                          <td><label for="textfield67"></label>#}
{#                            <label for="textfield71"></label>#}
{#                        #}
{#                              <input type="text" name="textfield4" id="textfield71" />#}
{#                          </td>#}
{#                        </tr>#}
{#                          <tr>#}
{##}
{##}
{#                              <th scope="row"><div align="left">Password</div></th>#}
{#                          <td><label for="textfield68"></label>#}
{#                            <label for="textfield72"></label>#}
{##}
{#                              <input type="text" name="textfield68" id="textfield72" />#}
{#                          </td>#}
{##}
{##}
{##}
{##}
{#                          </tr>#}
{#                        <tr>#}
{#                          <th scope="row">Upload Image</th>#}
{#                          <td><label for="textfield67"></label>#}
{#                            <label for="fileField"></label>#}
{#                            #}
{#                              <input type="file" name="fileField2" id="fileField"/>#}
{#                            </td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                          <td colspan="2" align="center"  >#}
{#<input type="submit" value="SAVE"/></td>#}
{#                        </tr>#}
{#                      </table></th>#}
{#           #}
{# #}
{##}
{#</form></th>#}
{##}
{##}
{#</body>#}
{#</html>#}

<html>
<head>
	<meta charset="utf-8">
	<title>Form-v6 by Colorlib</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="/static/registrationtemp/css/nunito-font.css/">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="/static/registrationtemp/css/style.css"/>
</head>
<body class="form-v6">
	<div class="page-content" >
		<div class="form-v6-content" >
			<div class="form-left">
				<img src="/static/registrationtemp/images/classical-dance-art-9-maryam-mughal.jpg/" alt="form">
			</div>
			<form class="form-detail" action="/user_reg_post" method="post" enctype="multipart/form-data" >
				<h2 style="font-family: 'Times New Roman'">Register Form</h2>
				<div class="form-row">
					<input type="text" name="textfield" id="full-name" class="input-text" placeholder="Your Name" required>
				</div>
                <div class="form-row">
					<input type="date" name="textfield2" id="full-name" class="input-text" placeholder="Your dob" required>
				</div>
				<div class="form-row">
					<input type="email" name="textfield3" id="your-email" class="input-text" placeholder="Email Address" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
				</div>
				<div class="form-row">
					<input type="tel" name="textfield4" id="phone number" class="input-text" maxlength="10" minlength="10" placeholder="Phone number" required>
				</div>
				<div class="form-row">
					<input type="password" name="textfield68" id="password" class="input-text" maxlength="20" minlength="8" placeholder="Password" required>
				</div>
                <div class="form-row">
					<input type="file" name="fileField2" id="upload file" class="input-text" required>
				</div>
				<div class="form-row-last">
					<input type="submit" name="fileField3" class="register" value="SAVE">
				</div>
			</form>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>